* {
  box-sizing: border-box;
  font-family: Comfortaa;
}
/** Main Body Style */
body {
  background-color: rgb(211, 217, 226);
}

.container {
  margin: 10px auto;
}

/** Main Page Header */
.main-page-header {
  padding: 10px 0px;
}

/** <!-- Company Name --> */
.main-page-header .company-name {
  font-weight: 600;
  color: white;
}

/** <!-- Navigation --> */
.navigation {
  /* border: 1px solid white; */
  margin-left: 20px;
}

.navigation li {
  display: inline-block;
  list-style-type: none;
  margin: 0px 15px;
}

.navigation li a {
  color: white;
  text-decoration: none;
}

/** <!-- Display Name --> */
.display-name {
  /* box-shadow: 0px 3px 6px rgb(0, 14, 53); */
  font-weight: 600;
}

/** Transact Button */
#transact-btn {
  background-color: #ffb114;
  border: 1px solid #543800;
}

/** Add Account Button */
#add-account-btn {
  background-color: #ff4e00;
  border: 1px solid #882b00;
  color: white;
  width: 200px;
}

/** Offcanvas Background */
.offcanvas {
  background-image: url("../images/offcanvas_bg.png");
}

.transact_btn {
  background-color: #ff4e00;
  border: 1px solid #882b00;
  color: white;
}

/** <!-- Card: Payment Card --> */
.payment-card {
  display: none;
}

/** <!-- Card: Transfer Card --> */
.transfer-card {
  display: none;
}

/** <!-- Card: Deposit Card --> */
.deposit-card {
  display: none;
}

/** <!-- Card: Withdraw Card --> */
.withdraw-card {
  display: none;
}
